.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top:1rem;
    margin-bottom:1rem;
    height: 3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.header-item1 {
    display: flex;
    font-size: 0.9rem;
    color:rgba(53, 70, 35);    
    text-shadow: 1px 0 rgba(53, 70, 35);
    letter-spacing:1px;
    font-weight:bold;
    width: 50%;
    justify-content: start;
    align-items: center;
}

.header-item2 {
    display: flex;
    font-size: 0.9rem;
    color:rgba(53, 70, 35);    
    text-shadow: 1px 0 rgba(53, 70, 35);
    letter-spacing:1px;
    font-weight:bold;
    width: 50%;
    justify-content: end;
    align-items: center;
}

.title {
    display: flex;
    font-size: 1.3rem;
    font-weight: 1000;
    justify-content: start;
    align-items: center;
}

.logo-icon {
    display: inline-block;
    fill: rgba(53, 70, 35);
    width: 3rem;
    height: 3rem;
}
