.task-bar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.task-header {
    font-size: 1.2rem;
    font-weight: 900;
}

.search-bar {
    border:solid 1px;
    border-radius: 20px;
    height: 2rem;
    width: 30%;
}

.task-list {
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: repeat(6, 1fr);
}

.task {
    background-color: transparent;
    height: 100px;
    border: none;
    margin-bottom: 10px;;
}

.task-container{
    position: relative;
    height: 100%;
    width:100%;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.task-container:hover {
    position: relative;
    height: 100%;
    width:100%;
    background-color: #cccccc;
    border-radius: 10px;
}

.task-content {
    height: stretch;
    width:stretch;
    padding-right: 1.4rem;
    padding-left: 1.4em;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.task-description {
    height: stretch;
    width: stretch;
    font-size: 1rem;
    overflow: scroll;
}

.info-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.task-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.task-overlay-content {
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap:1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.task-popup-section {
    padding-left: 1rem;
    padding-right: 1rem;
}

.divider {
    border:solid 0.5px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fill;
}

.task-button {
    width: fill;
    display: flex;
    justify-content: center;   
}

.add {
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 800;
    font-size: 1.1rem;
    background-color: rgb(86, 151, 255);
    cursor: pointer;
    height: 2rem;
    width: 12rem;
}

.add:hover {
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 800;
    font-size: 1.1rem;
    background-color: rgb(64, 135, 249);
    cursor: pointer;
    height: 2rem;
    width: 12rem;
}

.submission-form {
  width: 100%;
}

.form-field {
  margin-bottom: 15px;
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: 650;
  font-size: 1.1rem;
}

.form-field input {
  width: fill;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 600;
}

.form-field select {
    width: fill;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

.submit-button {
    display: flex;
    justify-content: center;
}