.team-list {
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.team {
    height: 100%;
    width: 32.5%;
    border:none;
    background-color: transparent;
    cursor:pointer;
}

.team.selected {
    width: 100%;
    color:#000000;    
    text-shadow: 1px 0 #000000;
    letter-spacing:1px;
}

.team-container {
    background-color: rgb(53, 70, 35);
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-container:hover {
    background-color: rgb(44, 58, 29);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    font-family:Arial, Helvetica, sans-serif,
}

.team-content {
    height: stretch;
    width: stretch;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.team-content.selected {
    width: 32.5%
}

.team-header {
    text-align: start;
    font-size: 1rem;
    font-weight:bold;
    padding-left: 2rem;
    width: stretch;
}

.points {
    width: stretch;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-left: 2rem;
    gap: 1rem;
}

.current {
    height: stretch;
    font-size: 6rem;
    font-weight:bold;
}

.max {
    height: stretch;
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 1.2rem;
}

.members {
    width: stretch;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.person {
    font-size: 0.8rem;
    font-weight: 600;
    color: #ffffff;
    border: solid #ffffff 1px;
    border-radius: 30px;
    background-color: transparent;
    width: 17%;
    text-align: center;
    margin-top:10px;
    padding-top:8px;
    padding-bottom:8px;
    cursor: pointer;
  }
  
  .person.selected {
    background-color: #ffffff;
    color: rgb(53, 70, 35);
  }
  
  .person:not(.selected):hover {
    background-color: #ffffff;
    color: rgb(53, 70, 35);
  }